    html{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:black;
        background-color:black;;
    }
    body{
        color:black;
        margin:0;
        height: 100%;  
        background: url('~/static/uploads/background_port.jpeg') no-repeat;
        
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        width: 80%;
    }
    footer{
        max-width: 100%;
        color:white;
        background-color: rgba(21, 17, 17, 0.39);
    }
    .footer-row{
        padding: 30px 0px 30px 0px;
    }
    .footer_links{
        list-style: none;
    }
    .footer-row h1{
        letter-spacing: 5px;
        font-size: 30px;
    }
    li a{
        text-decoration: none;
        color:white;
    }
    .socialmedia-icons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .socialmedia-icons img{
        max-width: 100%;
        height: 2rem;
        margin-right: 10px;
        cursor: pointer;
        transition: transform .2s;
    }
    .socialmedia-icons img:hover{
        transform: scale(1.5);
    }